<div class="container-fluid">
    <div class="typecho-page-title">
        <h2>回收箱</h2>
    </div>
    <hr>
    <div class="container-fluid" role="main">
        <div class="w-100">
            <form method="post" name="manage_trash" class="operate-form">
                <div class="clearfix" style="margin-bottom: 20px">
                    <div class="operate">
                        <label><i class="sr-only">全选</i>
                            <input type="checkbox" class="typecho-table-select-all" />
                        </label>
                        <div class="btn-group btn-drop">
                            <button class="btn dropdown-toggle btn-s" type="button"><i class="sr-only">操作</i>选中项 <i class="i-caret-down"></i></button>
                            <ul class="dropdown-menu">
                                <li><a lang="你确认要恢复该文章到草稿箱吗?" href="/admin/api/trash-recover">恢复</a></li>
                                <li><a lang="此回收箱下的所有内容将被删除, 你确认要删除这些文章吗?" href="/admin/api/trash-delete">删除</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="search" role="search">
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <colgroup>
                            <col width="20" />
                            <col width="40%" />
                            <col width="" />
                            <col width="12%" />
                            <col width="14%" />
                            <col width="14%" />
                        </colgroup>
                        <thead>
                        <tr class="alert-success">
                            <th> </th>
                            <th>标题</th>
                            <th>作者</th>
                            <th>专题</th>
                            <th>创建</th>
                            <th>删除</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{range .List}}
                        <tr id="mid-article-{{.ID}}">
                            <td>
                                <input type="checkbox" value="{{.ID}}" name="mid[]" />
                            </td>
                            <td>{{.Title}}</td>
                            <td>{{.Author}}</td>
                            <td>{{if gt .SerieID 0}}专题ID:{{.SerieID}}{{else}}--{{end}}</td>
                            <td>{{dateformat .CreateTime "2006/01/02 15:04"}}</td>
                            <td>{{dateformat .DeleteTime "2006/01/02 15:04"}}</td>
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            </form>

            <!--分页标记-->
            <div>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li><span>总10项</span></li>
                        <!--条件判断是否有上一页-->
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <!--展示具体页码-->
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <!--条件判断是否有下一页-->
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!--active-->
    <script>
        $(document).ready(function () {
                $("#nav_articles").addClass("active")
            }
        );
    </script>
</div>