<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/static/css/editor.css">
    <link rel="stylesheet" type="text/css" href="/static/css/admin/style.css">

    <script src="/static/js/admin/jquery.js"></script>
    <script src="/static/js/admin/jquery-ui.js"></script>
    <script src="/static/js/admin/typecho.js"></script>

    <meta name="description" content="">
    <meta name="author" content="">

    <!--网页标题，图标-->
    <link rel="icon" href="/static/img/jiaoshou.jpg">
    <title>{{.Title}}</title>
</head>
<body>
<!--上边导航栏-->
<div class="typecho-head-nav clearfix" role="navigation">
    <!--控制导航栏-->
    <nav id="typecho-nav-list">
        <ul class="root {{if .Console}}focus{{end}}">
            <li class="parent"><a target="_self" href="/admin/user">控制台</a></li>
            <ul class="child">
                <li class="focus">
                    <a target="_self" href="/admin/user">个人设置</a>
                </li>
            </ul>
        </ul>
        <ul class="root {{if .Post}}focus{{end}}">
            <li class="parent"><a target="_self" href="/admin/edit-article">撰写</a></li>
            <ul class="child">
                <li class="focus">
                    <a target="_self" href="/admin/edit-article">新建文章</a>
                </li>
            </ul>
        </ul>
        <ul class="root {{if .Manage}}focus{{end}}">
            <li class="parent"><a target="_self" href="/admin/manage-articles">管理</a></li>
            <ul class="child">
                <li class="focus">
                    <a target="_self" href="/admin/manage-articles">文章</a>
                </li>
                <li class="focus">
                    <a target="_self" href="/admin/manage-topics">专题</a>
                </li>
                <li class="focus">
                    <a target="_self" href="/admin/edit-topic">{{if .Edit}}编辑专题{{else}}新增专题{{end}}</a>
                </li>
                <li class="focus">
                    <a target="_self" href="/admin/manage-tags">标签</a>
                </li>
                <li class="focus">
                    <a target="_self" href="/admin/manage-drafts">草稿箱</a>
                </li>
                <li class="focus">
                    <a target="_self" href="/admin/manage-trashes">回收箱</a>
                </li>
            </ul>
        </ul>
        <ul class="root {{if .Setting}}focus{{end}}">
            <li class="parent"><a target="_self" href="#">设置</a></li>
            <ul class="child">
                <li class="focus">
                    <a target="_self" href="#">基本</a>
                </li>
                <li class="focus">
                    <a target="_self" href="#">阅读</a>
                </li>
            </ul>
        </ul>
    </nav>
    <!--右侧导航内容-->
    <div class="operate">
        <a href="/admin/user"><span class="glyphicon glyphicon-user">{{.UserName}}</span></a>
        <a href="/admin/logout"><span class="glyphicon glyphicon-log-out">登出</span></a>
        <a target="_self" href="/">网站</a>
    </div>
</div>

<!--主要内容-->
<div class="main">
    <!--LayoutContent begin-->
    {{.LayoutContent}}
    <!--LayoutContent end-->
</div>

<!--footer-->
{{template "footer.html" .}}

<!--js脚本接口-->
<script>
    (function () {
        $(document).ready(function () {
            // 处理消息机制
            (function () {
                
            })();
            
            // 导航菜单，聚焦时展开下拉菜单
            (function () {
                
            })();
        });
    })();
</script>

</body>
</html>