<div class="container-fluid">
    <div id="response_error_show">
        <!--可能的错误提示-->
        {{if .HTMLArticleDraftData.ErrorInfo}}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Error!</strong> {{.HTMLArticleDraftData.ErrorInfo}}.
        </div>
        {{end}}
    </div>

    <div class="">
        <h2>草稿箱</h2>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="col-mb-12" role="main">
            <form method="post" name="manage_draft" class="operate-form">
                <div class="clearfix" style="margin-bottom: 20px">
                    <div class="operate">
                        <label><i class="sr-only">全选</i>
                            <input type="checkbox" class="typecho-table-select-all" />
                        </label>
                        <div class="btn-group btn-drop">
                            <button class="btn dropdown-toggle btn-s" type="button"><i class="sr-only">操作</i>选中项 <i class="i-caret-down"></i></button>
                            <ul class="dropdown-menu">
                                <li><a lang="此草稿箱下的所有内容将被永久删除, 你确认要删除这些文章吗?" href="/admin/api/draft-delete">删除</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="search" role="search">
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <colgroup>
                            <col width="20" />
                            <col width="40%" />
                            <col width="" />
                            <col width="12%" />
                            <col width="14%" />
                            <col width="14%" />
                            <col width="5%"  />
                        </colgroup>
                        <thead>
                        <tr class="alert-success">
                            <th> </th>
                            <th>标题</th>
                            <th>作者</th>
                            <th>专题</th>
                            <th>创建</th>
                            <th>保存</th>
                            <th>预览</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{range .HTMLArticleDraftData.ArticleInfo}}
                        <tr id="mid-article-{{.ID}}">
                            <td>
                                <input type="checkbox" value="{{.ID}}" name="mid[]" />
                            </td>
                            <td><a href="/admin/article.html?id={{.ID}}">{{.Title}}</a></td>
                            <td>{{.Author}}</td>
                            <td>{{.Topic}}</td>
                            <td>{{dateformat .Create "2006/01/02 15:04"}}</td>
                            <td>{{dateformat .Update "2006/01/02 15:04"}}</td>
                            <td><a href="/admin/preview.html?id={{.ID}}"><i class="material-icons">visibility</i></a></td>
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            </form>

            <!--分页标记-->
            <div>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {{with .HTMLArticleDraftData.PageInfo}}
                        <li><span>总{{.TotalCount}}项</span></li>
                        <li><span>总{{.TotalPage}}页</span></li>
                        <!--条件判断是否有上一页-->
                        {{if .PrePage}}
                        <li>
                            <a href="?page_no={{.PrePageNo}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {{end}}

                        <!--展示具体页码-->
                        <li><a href="#">{{.PageNo}}</a></li>
                        <!--条件判断是否有下一页-->
                        {{if .NextPage}}
                        <li>
                            <a href="?page_no={{.NextPageNo}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {{end}}
                        {{end}}
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!--active-->
    <script>
        $(document).ready(function () {
                $("#nav_articles").addClass("active")
            }
        );
    </script>
</div>