<div class="container-fluid">
    <div class="subtitle">
        <h2>管理文章<a href="/admin/article.html" class="description">新增</a></h2>
    </div>

    <hr>
    <div class="container-fluid" role="main">
        <div class="w-100">
            <div class="clearfix" style="margin-bottom: 20px">
                <form method="get">
                    <!--管理操作-->
                    <div class="operate" style="display: inline-block;">
                        <label>
                            <i class="sr-only">全选</i>
                            <input type="checkbox" class="typecho-table-select-all" />
                        </label>
                        <div class="btn-group btn-drop">
                            <button class="btn dropdown-toggle btn-s" type="button">
                                <i class="sr-only">操作</i>选中项 <i class="i-caret-down"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a lang="你确认要删除这些文章吗?" href="/admin/api/post-delete">删除</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--检索操作-->
                    <div class="search" style="display: inline-block;float: right" role="search">
                        <a href="/admin/manager-articles">取消筛选</a>
                        <input type="text" class="text-s" placeholder="请输入关键字" value="{{if .KW}}{{.KW}}{{end}}" name="keywords" />
                        <select name="serie">
                            <option value="">所有专题</option>
                            {{range .Series}} <option selected value="{{.ID}}">{{.Name}} {{end}}
                        </select>
                        <button type="submit" class="btn btn-s">筛选</button>
                    </div>
                </form>
            </div>
            <!-- end .typecho-list-operate -->
            <form method="post" name="manage_posts" class="operate-form">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <colgroup>
                            <col width="20" />
                            <col width="6%" />
                            <col width="40%" />
                            <col width="" />
                            <col width="12%" />
                            <col width="14%" />
                            <col width="14%" />
                        </colgroup>
                        <thead>
                        <tr class="alert-success">
                            <th> </th>
                            <th>评论</th>
                            <th>标题</th>
                            <th>作者</th>
                            <th>专题</th>
                            <th>创建</th>
                            <th>更新</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{range .List}}
                        <tr id="post-{{.ID}}">
                            <td>
                                <input type="checkbox" value="{{.ID}}" name="cid[]"/>
                            </td>
                            <td><a href="" class="balloon-button size-1">100</a></td>
                            <td>
                                <a href="/admin/edit-article?articleid={{.ID}}">{{.Title}}</a>
                                <a target="_black" href="" title="浏览 {{.Title}}"><i class="i-exlink"></i></a>
                            </td>
                            <td>{{.Author}}</td>
                            <td>{{.Topic}}</td>
                            <td>{{dateformat .Create "2006/01/02 15:04"}}</td>
                            <td>{{dateformat .Update "2006/01/02 15:04"}}</td>
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            </form>
            <!-- end .operate-form -->
            <div class="clearfix">
                <form method="get">
                    <div class="operate">
                        <label>
                            <i class="sr-only">全选</i>
                            <input type="checkbox" class="typecho-table-select-all" />
                        </label>
                        <div class="btn-group btn-drop">
                            <button class="btn dropdown-toggle btn-s" type="button">
                                <i class="sr-only">操作</i>选中项 <i class="i-caret-down"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a lang="你确认要删除这些文章吗?" href="/admin/api/post-delete">删除</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--文章列表的内容ul-->
                    <ul class="typecho-pager">
                        {{if .Prev}}
                            <li class="prev"><a href="/admin/manage-posts?{{html .Prev}}">«</a></li>
                        {{end}}
                        {{range $k,$v := .PP}}
                            <li {{if eq $.Cur $k}}class="current"{{end}}><a href="/admin/manage-posts?{{html $v}}">{{$k}}</a></li>
                        {{end}}
                        {{if .Next}}
                            <li class="next"><a href="/admin/manage-posts?{{html .Next}}">»</a></li>
                        {{end}}
                    </ul>
                </form>
            </div>
            <!-- end .typecho-list-operate -->

            <!--分页标记-->
            <div>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li><span>总10项</span></li>
                        <!--条件判断是否有上一页-->
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <!--展示具体页码-->
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <!--条件判断是否有下一页-->
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!-- end .typecho-page-main -->

    <!--active-->
    <script>
        $(document).ready(function () {
                $("#nav_articles").addClass("active")
            }
        );
    </script>
</div>