<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favor.png">

    <title>登录 | {{.Title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap-3.3.7/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/admin/login.css" rel="stylesheet">
</head>

<body>

<div class="container">

    <form class="form-signin" method="post" action="/admin/login.html">
        <h2 class="form-signin-heading">{{.Title}}</h2>

        <label for="user" class="sr-only">用户名</label>
        <input type="text" id="user" name="user" class="form-control" placeholder="用户名" required autofocus>

        <label for="password" class="sr-only">密码</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="密码" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> 记住我
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
    </form>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
