<div class="container-fluid">
    <div id="response_error_show">
        <!--可能的错误提示-->
        {{if .HTMLArticleEditData.ErrorInfo}}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Error!</strong> {{.HTMLArticleEditData.ErrorInfo}}.
        </div>
        {{end}}
    </div>

    <div class="subtitle">
        {{if .HTMLArticleEditData.Article.IsEdit}}
        <h2>编辑: "{{.HTMLArticleEditData.Article.Title}}"</h2>
        {{else}}
        <h2>撰写文章</h2>
        {{end}}
    </div>

    <form name="write-post" id="post-form">
        <div class="row">
            <!--左侧-->
            <div class="col-sm-9 col-md-9 sidebar form-group" role="main">
                <!--可能是草稿文件-->
                <cite class="edit-draft-notice">
                    <!--草稿-->
                    {{if eq 2 .HTMLArticleEditData.Article.Status}}
                    你正在编辑的是<strong>"草稿"</strong>状态文章，你可以<a href="#button_tab">发布</a> or <a href="#button_tab">继续保存</a> or <a href="#button_tab">删除</a>
                    <!--回收-->
                    {{else if eq 0 .HTMLArticleEditData.Article.Status}}
                    你正在编辑的是<strong>"删除"</strong>状态文章，你可以<a href="#button_tab">继续删除</a> or <a href="#button_tab">存为草稿</a>
                    <!--发布-->
                    {{else if eq 1 .HTMLArticleEditData.Article.Status}}
                    你正在编辑的是<strong>"发布"</strong>状态文章，你可以<a href="#button_tab">继续发布</a> or <a href="#button_tab">存为草稿</a>
                    {{end}}
                </cite>

                <!--标题title-->
                <p class="title">
                    <label for="title" class="sr-only">标题</label>
                    <input type="text" id="title" name="title" autocomplete="off" {{with .HTMLArticleEditData.Article}}value="{{.Title}}"{{end}} placeholder="标题" class="w-100 text title">
                </p>
                <!--文章url-->
                <p>
                    <label for="slug" class="sr-only">网址缩略名</label>https://{{.HTMLAdData.Domain}}/post/
                    <input type="text" id="slug" name="slug" autocomplete="off" {{with .HTMLArticleEditData.Article}}value="{{.Slug}}"{{end}} readonly/>.html

                </p>
                <!--文章内容-->
                <p>
                    <label for="text" class="sr-only">文章内容</label>
                    <textarea id="text" name="text">{{with .HTMLArticleEditData.Article}}{{.Content}}{{end}}</textarea>
                </p>
            </div>

            <!--右侧-->
            <div id="edit-secondary" class="col-sm-3 col-md-3 ml-sm-auto pt-3 form-group" role="complementary">
                <div class="btn-group clearfix w-100" role="group" aria-label="option">
                    <div class="btn-group w-50" role="group">
                        <button type="button" class="btn btn-secondary w-100">
                            <a href="#tab-advance">选项</a>
                        </button>
                    </div>
                    <div class="btn-group w-50" role="group">
                        <button type="button" class="btn btn-secondary w-100 disabled">
                            <a href="#tab-files">上传</a>
                        </button>
                    </div>
                </div>

                <!--选项的id-->
                <div id="tab-advance" class="tab-content">
                    <!--日期-->
                    <section class="typecho-post-option" role="application">
                        <label for="date">发布日期</label>
                        <p>
                            <input readonly class="w-100 form_datetime" type="text" name="date" id="date" {{with .HTMLArticleEditData.Article}}value="{{dateformat .PublishTime "2006-01-02 15:04"}}"{{end}}/>
                        </p>
                    </section>
                    <!--专题-->
                    <section class="typecho-post-option category-option">
                        <label class="typecho-label">专题</label>
                        <select id="" class="selectpicker show-tick form-control" name="topic" data-live-search="true">
                            <!--专题是基于db中的数据动态获取-->
                            {{range $index, $item:=.HTMLArticleEditData.Topics}}
                            <option {{if .Checked}}selected{{end}}>{{.Name}}</option>
                            {{end}}
                        </select>
                    </section>
                    <!--标签, 文章自带的标签显示在这里-->
                    <section class="typecho-post-option tags_typeahead">
                        <label for="input-tags" class="control-label">标签</label>
                        <p>
                            <input id="input-tags" name="tags" type="text" {{with .HTMLArticleEditData}}value="{{.ArticleTags}}" {{end}} data-role="tagsinput" class="w-100"/>
                        </p>
                    </section>
                    <!--其他选项-->
                    <section class="typecho-post-option category-option">
                        <label class="typecho-label">其他选项</label>
                        <ul>
                            <li>
                                <input type="checkbox" id="update" value="true" name="update"/>
                                <label for="update">变动很大(更新时间)?</label>
                            </li>
                        </ul>
                    </section>
                </div>
                <!--todo: 文件上传，待实现-->
                <!--文件上传的id-->
                <div id="tab-files" class="tab-content hidden">
                    <div id="upload-panel" class="p">
                        <div class="upload-area" draggable="true">
                            拖动文件到这里
                            <br>
                            或者
                            <a href="#" class="upload-file">选择文件上传</a>
                        </div>
                        <ul id="file-list"></ul>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!--确认处-->
    <p class="clearfix" id="button_tab">
        <span class="navbar-right">
            <input type="hidden" name="cid" value="#"/>
            <!--草稿-->
            {{if eq 2 .HTMLArticleEditData.Article.Status}}
            <button name="do" value="delete" id="btn-delete" class="btn btn-danger">删除文章</button>
            <button name="do" value="save" id="btn-save" class="btn btn-default">保存草稿</button>
            <button name="do" value="publish" id="btn-submit" class="btn btn-primary">发布文章</button>
            <!--回收-->
            {{else if eq 0 .HTMLArticleEditData.Article.Status}}
            <button name="do" value="delete" id="btn-delete" class="btn btn-danger">删除文章</button>
            <button name="do" value="save" id="btn-save" class="btn btn-default">保存草稿</button>
            <!--发布-->
            {{else if eq 1 .HTMLArticleEditData.Article.Status}}
            <button name="do" value="save" id="btn-save" class="btn btn-default">保存草稿</button>
            <button name="do" value="publish" id="btn-submit" class="btn btn-primary">发布文章</button>
            {{end}}

            <!--执行预览-->
            <button name="preview" value="preview" id="btn-preview" class="btn btn-success">生成预览</button>
        </span>
    </p>

    <!--日期设置-->
    <script type="text/javascript">
        $(document).ready(function () {
            $('.form_datetime').datetimepicker({
                language:  'fr',
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                forceParse: 0,
                showMeridian: 1
            });
        });
    </script>

    <!--active的实现-->
    <script>
        $(document).ready(function () {
                $("#nav_article").addClass("active")
        });
    </script>

    <!--数据提交的接口-->
    <script>
        $(document).ready(
            // button click监听
            function () {
                // 文章发布处理的
                $("#btn-delete").on("click", function () {
                    disableButton($(this), "删除中...");

                    var payload = $("#post-form").serializeArray();
                    payload.push({"name": "do", "value": "delete"});

                    var postUrl = "/admin/article.html";
                    $.post(postUrl, payload).done(function (data) {
                        if (data.status.code !== 1000) {
                            // success, 提示错误
                            makeAlertShow($("#response_error_show"), ALERT_DANGER, data.status.msg);
                        } else {
                            // success，执行页面跳转
                            location.href = "/admin/trashes.html"
                        }
                    }).fail(function () {
                        makeAlertShow($("#response_error_show"), ALERT_DANGER, "后端未响应");
                    });

                    enableButton($(this), "删除文章");
                });

                // 文章保存处理的
                $("#btn-save").on("click", function () {
                    disableButton($(this), "保存中...");

                    var payload = $("#post-form").serializeArray();
                    payload.push({"name": "do", "value": "save"});

                    var postUrl = "/admin/article.html";
                    $.post(postUrl, payload).done(function (data) {
                        if (data.status.code !== 1000) {
                            // success, 提示错误
                            makeAlertShow($("#response_error_show"), ALERT_DANGER, data.status.msg);
                        } else {
                            // success，执行页面跳转
                            location.href = "/admin/drafts.html";
                        }
                    }).fail(function () {
                        makeAlertShow($("#response_error_show"), ALERT_DANGER, "后端未响应");
                    });

                    enableButton($(this), "保存草稿");
                });

                // 文章发布处理的
                $("#btn-submit").on("click", function () {
                    disableButton($(this), "发布中...");

                    var payload = $("#post-form").serializeArray();
                    payload.push({"name": "do", "value": "publish"});

                    var postUrl = "/admin/article.html";
                    $.post(postUrl, payload).done(function (data) {
                        if (data.status.code !== 1000) {
                            // success, 提示错误
                            makeAlertShow($("#response_error_show"), ALERT_DANGER, data.status.msg);
                        } else {
                            // success，执行页面跳转
                            location.href = "/admin/articles.html"
                        }
                    }).fail(function () {
                        makeAlertShow($("#response_error_show"), ALERT_DANGER, "后端未响应");
                    });

                    enableButton($(this), "发布文章");
                });

                // 提交预处理的
                $("#btn-preview").on("click", function () {
                    disableButton($(this), "生成预览中...");

                    var payload = $("#post-form").serializeArray();
                    payload.push({"name": "do", "value": "save"});

                    var postUrl = "/admin/article.html";
                    $.post(postUrl, payload).done(function (data) {
                        if (data.status.code !== 1000) {
                            // success, 提示错误
                            makeAlertShow($("#response_error_show"), ALERT_DANGER, data.status.msg);
                        } else {
                            // success，执行页面跳转
                            window.open("/admin/preview.html?id=" + data.result.id)
//                            location.href = "/admin/preview.html?id=" + data.result.id;
                        }
                    }).fail(function () {
                        makeAlertShow($("#response_error_show"), ALERT_DANGER, "后端未响应");
                    });

                    enableButton($(this), "生成预览");
                })
            }
        )
    </script>

    <!--title同步到slug中-->
    <script>
        $(document).ready(function () {
            $("#title").on("input propertychange", function () {
                $("#slug").val($("#title").val());
            })
        })
    </script>

</div>
