<div class="container-fluid">
    <div class="subtitle">
        {{if .HTMLArticleEditData.Edit.IsEdit}}
        <h2>编辑: "{{.HTMLArticleEditData.Edit.Title}}"</h2>
        {{else}}
        <h2>撰写文章</h2>
        {{end}}
    </div>

    <form action="/admin/article.html" method="post" name="write-post">
        <div class="row">
            <!--左侧-->
            <div class="col-sm-9 col-md-9 sidebar form-group" role="main">
                <!--可能是草稿文件-->
                {{if .HTMLArticleEditData.Edit.IsDraft}}
                <cite class="edit-draft-notice">
                    你正在编辑的是草稿，你也可以
                    <a href="#">删除它</a>
                </cite>
                {{end}}
                <!--标题title-->
                <p class="title">
                    <label for="title" class="sr-only">标题</label>
                    <input type="text" id="title" name="title" autocomplete="off" {{with .HTMLArticleEditData.Edit}}value="{{.Title}}"{{end}} placeholder="标题" class="w-100 text title">
                </p>
                <!--文章url-->
                <p>
                    <label for="slug" class="sr-only">网址缩略名</label>
                    https://{{.HTMLAdData.Domain}}/post/
                    <input type="text" id="slug" name="slug" autocomplete="off" class="mono" {{with .HTMLArticleEditData.Edit}}value="{{.Slug}}"{{end}}/>
                    .html
                </p>
                <!--文章内容-->
                <p>
                    <label for="text" class="sr-only">文章内容</label>
                    <!--<textarea style="height: 900px" autocomplete="off" id="text" name="text" class="w-100 mono">{{with .HTMLArticleEditData.Edit}}{{.Content}}{{end}}</textarea>-->
                    <textarea id="text" name="content" data-provide="markdown"></textarea>
                </p>
                <!--确认处-->
                <p class="submit clearfix">
                    <span class="navbar-right">
                        <input type="hidden" name="cid" value="#"/>
                        <button type="submit" name="do" value="save" id="btn-save" class="btn">保存草稿</button>
                        <button type="submit" name="do" value="publish" id="btn-submit" class="btn">发布文章</button>
                    </span>
                </p>
            </div>

            <!--右侧-->
            <div id="edit-secondary" class="col-sm-3 col-md-3 ml-sm-auto pt-3 form-group" role="complementary">
                <div class="btn-group clearfix w-100" role="group" aria-label="option">
                    <div class="btn-group w-50" role="group">
                        <button type="button" class="btn btn-secondary w-100">
                            <a href="#tab-advance">选项</a>
                        </button>
                    </div>
                    <div class="btn-group w-50" role="group">
                        <button type="button" class="btn btn-secondary w-100">
                            <a href="#tab-files">上传</a>
                        </button>
                    </div>
                </div>

                <!--选项的id-->
                <div id="tab-advance" class="tab-content">
                    <!--日期-->
                    <section class="typecho-post-option" role="application">
                        <label for="date">发布日期</label>
                        <p>
                            <input readonly class="w-100 form_datetime" type="text" name="date" id="date" {{with .HTMLArticleEditData.Edit}}value="{{dateformat .PublishTime "2006-01-02 15:04"}}"{{end}}/>
                        </p>
                    </section>
                    <!--专题-->
                    <section class="typecho-post-option category-option">
                        <label class="typecho-label">专题</label>
                        <ul>
                            <li>
                                <input type="radio" id="serie-0" value="0" name="serie" checked="{{.HTMLArticleEditData.DefaultTp}}"/>
                                <label for="serie-0">默认专题</label>
                            </li>
                            <!--专题是基于db中的数据动态获取-->
                            {{range $index, $item:=.HTMLArticleEditData.Series}}
                            <li>
                                <input type="radio" id="serie-{{$item.ID}}" value="{{$item.ID}}" name="serie" checked="{{$item.Checked}}"/>
                                <label for="serie-{{$item.ID}}">{{$item.Name}}</label>
                            </li>
                            {{end}}
                        </ul>
                    </section>
                    <!--标签, 文章自带的标签显示在这里-->
                    <section class="typecho-post-option">
                        <label for="input-tags" class="control-label">标签</label>
                        <p>
                            <select id="input-tags" class="selectpicker show-tick" data-live-search="true" multiple>
                                <option selected>ASD</option>
                                <option>Bla</option>
                                <option>Ble</option>
                                <option>ASD1</option>
                                <option>Bla2</option>
                                <option>Ble3</option>
                                <option>Ble4</option>
                                <option>Ble5</option>
                                <option>Ble6</option>
                            </select>
                        </p>
                        <!--<p>-->
                            <!--<input id="token-input-tags" name="tags" type="text" {{with .HTMLArticleEditData}}value="{{.ArticleTags}}" {{end}} class="w-100 text"/>-->
                        <!--</p>-->
                    </section>
                    <!--其他选项-->
                    <section class="typecho-post-option category-option">
                        <label class="typecho-label">其他选项</label>
                        <ul>
                            <li>
                                <input type="checkbox" id="update" value="true" name="update"/>
                                <label for="update">变动很大(更新时间)?</label>
                            </li>
                        </ul>
                    </section>
                </div>
                <!--文件上传的id-->
                <div id="tab-files" class="tab-content hidden">
                    <div id="upload-panel" class="p">
                        <div class="upload-area" draggable="true">
                            拖动文件到这里
                            <br>
                            或者
                            <a href="#" class="upload-file">选择文件上传</a>
                        </div>
                        <ul id="file-list"></ul>
                    </div>
                </div>
            </div>
        </div>
    </form>

    </div>

    <!--日期设置-->
    <script type="text/javascript">
        $(document).ready(function () {
            $('.form_datetime').datetimepicker({
                language:  'fr',
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                forceParse: 0,
                showMeridian: 1
            });
        });
    </script>

    <!---->

</div>
