<div class="container-fluid">
    <div class="">
        <h2>管理标签</h2>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="container" role="main">
            <form method="post" name="manage_tags" class="operate-form">

                <!--标签, 文章自带的标签显示在这里-->
                <section class="typecho-post-option tags_typeahead">
                    <label for="input-tags" class="control-label">标签</label>
                    <p>
                        <input id="input-tags" type="text" {{with .HTMLArticleEditData}}value="{{.ArticleTags}}" {{end}} data-role="tagsinput" class="w-100"/>
                        <!--<input id="token-input-tags" name="tags" type="text" {{with .HTMLArticleEditData}}value="{{.ArticleTags}}" {{end}} class="w-100 text"/>-->
                    </p>
                </section>

                <button type="submit" class="btn btn-default" style="float: right">确认</button>

            </form>
        </div>
    </div>

    <!--active-->
    <script>
        $(document).ready(function () {
                $("#nav_tags").addClass("active")
            }
        );
    </script>
</div>
<script type="text/javascript">
    (function () {
        $(document).ready(function () {

            $('.typecho-list-notable').tableSelectable({
                checkEl     :   'input[type=checkbox]',
                rowEl       :   'li',
                selectAllEl :   '.typecho-table-select-all',
                actionEl    :   '.dropdown-menu a'
            });

            $('.btn-drop').dropdownMenu({
                btnEl       :   '.dropdown-toggle',
                menuEl      :   '.dropdown-menu'
            });

            $('.dropdown-menu button.merge').click(function () {
                var btn = $(this);
                btn.parents('form').attr('action', btn.attr('rel')).submit();
            });

        });
    })();
</script>