<div class="body-100 container">
    <div class="typecho-page-title">
        {{if .Edit}}
        <h2>编辑 {{.Edit.Title}}</h2>
        {{else}}
        <h2>撰写文章</h2>
        {{end}}
    </div>
    <div class="row typecho-page-main typecho-post-area" role="form">
        <form action="#" method="post" name="write-post">
            <!---->
            <div class="col-mb-12 col-tb-9" role="main">
                <!--可能是草稿文件-->
                {{if .Edit.IsDraft}}
                <cite class="edit-draft-notice">
                    你正在编辑的是草稿，你也可以
                    <a href="#">删除它</a>
                </cite>
                {{end}}
                <p class="title">
                    <label for="title" class="sr-only">标题</label>
                    <!--<input type="text" id="title" name="title" autocomplete="off" {{with .Edit}}value="{{.Title}}"{{end}} placeholder="标题" class="w-100 text title">-->
                    <input type="text" id="title" name="title" autocomplete="off" placeholder="标题" class="w-100 text title"/>
                </p>
                <p>
                    <label for="slug" class="sr-only">网址缩略名</label>
                    https://{{.Domain}}/post/
                    <input type="text" id="slug" name="slug" autocomplete="off" class="mono"/>
                    .html
                </p>
                <p>
                    <label for="text" class="sr-only">文章内容</label>
                    <textarea style="..." autocomplete="off" id="text" name="text" class="w-100 mono">
                            {{with .Edit}}
                                {{.Content}}
                            {{end}}
                        </textarea>
                </p>
                <!--确认处-->
                <p class="submit clearfix">
                        <span class="right">
                            <input type="hidden" name="cid" value="#"/>
                            <button type="submit" name="do" value="save" id="btn-save" class="btn">保存草稿</button>
                            <button type="submit" name="do" value="publish" id="btn-submit" class="btn primary">发布文章</button>
                        </span>
                </p>
            </div>
            <!---->
            <div id="edit-secondary" class="col-mb-12 col-tb-3" role="complementary">
                <ul class="typecho-option-tabs clearfix">
                    <!--href的值对应下面的div中的id的跳转-->
                    <li class="active w-50"><a href="#tab-advance">选项</a></li>
                    <li class="w-50"><a href="#tab-files" id="tab-files-btn">上传</a></li>
                </ul>
                <div id="tab-advance" class="tab-content">
                    <section class="typecho-post-option" role="application">
                        <label for="date" class="typecho-label">发布日期</label>
                        <p>
                            <!--<input class="typecho-date w-100" type="text" name="date" id="date" {{with .Edit}}value="{{dateformat .CreateTime "2006-01-02 15:04"}}"{{end}}/>-->
                            <input class="typecho-date w-100" type="text" name="date" id="date"/>
                        </p>
                    </section>
                    <section class="typecho-post-option category-option">
                        <label class="typecho-label">专题</label>
                        <ul>
                            <li>
                                <input type="radio" id="serie-0" value="0" name="serie" checked="checked"/>
                                <label for="serie-0">默认专题</label>
                            </li>
                            <!--专题是基于db中的数据动态获取-->
                            {{range $k,$v:=.Series}}
                            <li>
                                <input type="radio" id="serie-{{$v.Id}}" value="{{$v.Id}}" name="serie" {{with $.Edit}}{{if eq .SerieID $v.ID}}checked="true"{{end}}{{end}}/>
                                <label for="serie-{{$v.Id}}">{{$v.Name}}</label>
                            </li>
                            {{end}}
                        </ul>
                    </section>
                    <section class="typecho-post-option category-option">
                        <label class="typecho-label">其他选项</label>
                        <ul>
                            <li>
                                <input type="checkbox" id="update" value="true" name="update"/>
                                <label for="update">变动很大(更新时间)?</label>
                            </li>
                        </ul>
                    </section>
                </div>

                <div id="tab-files" class="tab-content hidden">
                    <div id="upload-panel" class="p">
                        <div class="upload-area" draggable="true">
                            拖动文件到这里
                            <br>
                            或者
                            <a href="#" class="upload-file">选择文件上传</a>
                        </div>
                        <ul id="file-list"></ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>