<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css.map">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css.map">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.css.map">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css.map">
    <link rel="stylesheet" type="text/css" href="/static/css/twitter-bootstrap-v2.css">

    <script src="/static/js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

    <meta name="description" content="">
    <meta name="author" content="">

    <!--网页标题，图标-->
    <link rel="icon" href="/static/img/jiaoshou.jpg">
    <title>{{.Title}}</title>
</head>
<body>
    <link rel="stylesheet" href="/static/css/editor.css">
    <div id="markdown-editor">
        <div class="input-group">
            <span class="input-group-addon">标题</span>
            <input id="editor-title" type="text" class="form-control" aria-describedby="sizing-addon2">
        </div>

        <div id="tool-bar">
            <span id="btn-marked" title="change model" class="fa fa-eye" aria-hidden="true"></span>
            <span class="fa fa-arrows-alt" aria-hidden="true"></span>
        </div>

        <textarea id="editor-area" class="form-control"></textarea>
        <div id="editor-view"></div>
    </div>
    <script type="text/javascript" src="/static/js/editor.js"></script>
</body>
</html>