<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="/static/img/favor.png">
    <title>{{.Title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap-3.3.7/bootstrap.css" rel="stylesheet">
    <!--<link href="/static/css/bootstrap-3.3.7/bootstrap-theme.css" rel="stylesheet">-->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/css/assets/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/visit/home.css" rel="stylesheet">

    <!--js-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--<script src="/static/js/jquery-3.2.1.min.js"></script>-->
    <script src="/static/js/bootstrap-3.3.7/bootstrap.min.js"></script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/static/js/assets/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/js/assets/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container-fluid">
    <div class="row">
        <!--左侧导航栏-->
        <header id="header" class="col-sm-3 col-md-2 sidebar">
            <!--头像、标题、签名-->
            <div class="pic text-center">
                <img src="/static/img/jiaoshou.jpg" class="rounded-circle">
                <h4>高阶词典</h4>
                <span class="subtitle text-muted">唐僧爱飘柔</span>
            </div>

            <hr>
            <!--分类导航栏-->
            <ul class="nav nav-sidebar text-center">
                <li class="" id="home">
                    <a href="/">首页</a>
                </li>
                <li class="" id="topics" >
                    <a href="/topics.html">专题</a>
                </li>
                <li class="" id="archives" >
                    <a href="/archives.html">归档</a>
                </li>
                <li class="" id="roll">
                    <a href="/roll.html">友链</a>
                </li>
                <li class="" id="about">
                    <a href="/about.html">关于</a>
                </li>
                <li class="" id="search">
                    <a href="/search.html">搜索🔍</a>
                </li>
            </ul>

            <hr>
            <!--社交标题栏-->
            <!--todo: xxxxx-->
        </header>

        <main class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <!--主要内容-->
            <div class="container-fluid" style="padding-right: 5%">
                {{.LayoutContent}}
            </div>

            <!--角标-->
            <hr>
            <footer id="footer" class="text-center">
                &copy; xxxx-inc 2017 - {{.Title}} -
                <a target="_blank" rel="nofollow designer" class="external beian" href="http://www.miitbeian.gov.cn/">{{.BeiAn}}</a>
                <br />Powered by
                <a target="_blank" href="#">Meili-inc Sec</a>
            </footer>
        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--todo: xxxxx-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/static/js/jquery.min.js"><\/script>')</script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="/static/js/assets/vendor/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/static/js/assets/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
