<div id=content class=inner>
    <div id="response_error_show">
        <!--可能的错误提示-->
        {{if .HTMLAbout.ErrorInfo}}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Error!</strong> {{.HTMLAbout.ErrorInfo}}.
        </div>
        {{end}}
    </div>

    {{with .HTMLAbout.About}}
    <article class="post post-{{.ID}}" itemscope itemtype="http://schema.org/Article">
        <!--<h1 class=title itemprop=headline>{{.Title}}</h1>-->

        <div class="entry-content" itemprop=articleBody>
            <div id="toc-container">
                <div id="toc">
                    <p><strong>文章目录</strong></p>
                    {{str2html .Header}}
                </div>
            </div>
            {{str2html .Content}}
        </div>
    </article>
    {{end}}

    <script>
        $(document).ready(function () {
                $("#about").addClass("active")
            }
        );
    </script>
</div>