<div id=content class=inner>
    <article class="post post-series">
        <h1 class=title>专题</h1>
        <div class="entry-content" itemprop=articleBody>
            <div id="toc-container">
                <div id="toc">
                    <p><strong>专题列表</strong></p>
                    {{str2html .Header}}
                </div>
            </div>
            {{str2html .Content}}
        </div>
    </article>

    <script>
        $(document).ready(function () {
                $("#topics").addClass("active")
            }
        );
    </script>
</div>