<div id=content class=inner>
    <div id="response_error_show">
        <!--可能的错误提示-->
        {{if .HTMLArticleData.ErrorInfo}}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Error!</strong> {{.HTMLArticleData.ErrorInfo}}.
        </div>
        {{end}}
    </div>

    {{with .HTMLArticleData}}
    <article class="post post-{{.ArticleInfo.ID}}" itemscope itemtype="http://schema.org/Article">
        <!--文章标题-->
        <!--<h1 class=title itemprop=headline>{{.ArticleInfo.Title}}</h1>-->
        <!--附加信息-->
        <div class="meta">
            <!--发布时间-->
            <div class="date" style="display: inline-block">
                <label>发布时间:</label>
                <time itemprop=datePublished content="{{dateformat .ArticleInfo.PublishTime "2006-01-02T15:04:05Z07:00"}}">{{dateformat .ArticleInfo.PublishTime "Jan 02, 2006"}}</time>
            </div>
            <span>|</span>
            <!--展示评论数-->
            <div class="comment" style="display: inline-block;">
                <label>评论数:</label>
                <a href="#comments">{{.Extend.CommentCount}} Comments</a>
            </div>
        </div>

        <!--文章内容-->
        <div class="entry-content" itemprop=articleBody>
            <!--文章目录-->
            <div id="toc-container">
                <div id="toc">
                    <p><strong>文章目录</strong></p>
                    {{str2html .ArticleInfo.Header}}
                </div>
            </div>
            <!--文章内容-->
            {{str2html .ArticleInfo.Content}}

            <!--发表说明-->
            <p class="post-info">发表于
                <span class="date">{{dateformat .ArticleInfo.PublishTime "2006-01-02 15:04:05"}}</span>
                {{if .ArticleInfo.UpdateTime | TimeIsZero}}，最后修改于
                <span class="date">{{dateformat .ArticleInfo.UpdateTime "2006-01-02 15:04:05"}}</span>
                {{end}}。
            </p>

            <!--版权说明-->
            <p class="copyright-info">{{str2html .CopyRight}}
                <a href="/about.html">更多说明 »</a>
            </p>

            <!--更新说明-->
            {{if gt .ArticleInfo.Days 0}}
            <p class="expire-tips">提醒：本文最后更新于 {{.ArticleInfo.Days}} 天前，文中所描述的信息可能已发生改变，请谨慎使用。</p>
            {{end}}

            <!--评论引导-->
            <p>
                <a href="#comments">参与评论 »</a>
            </p>

            <!--同专题的其他文章-->
            {{with .Extend.Topic}}
            <div class="entry-series">
                <h3>专题「{{.Name}}」的其它文章<a href="/topics.html" title="更多">»</a></h3>
                <ul>
                    {{range .Articles}}
                        {{if ne .ID $.HTMLArticleData.ArticleInfo.ID}}
                        <li>
                            <a href="/post/{{.Slug}}.html">{{.Title}}</a>
                            <span class="date">({{dateformat .PublishTime "Jan 02, 2006"}})</span>
                        </li>
                        {{end}}
                    {{end}}
                </ul>
            </div>
            {{end}}
        </div>
    </article>
    <!--上一篇，下一篇的处理-->
    <hr>
    <div class="container">
        {{with .Extend.Prev}}
            <a href="/post/{{.Slug}}.html" style="float: left">« {{.Title}}</a>
        {{end}}
        {{with .Extend.Next}}
            <a href="/post/{{.Slug}}.html" style="float: right">{{.Title}} »</a>
        {{end}}
    </div>
    <hr>
    <!--评论部分-->
    <section id=comments>
        <h1 class=title>Comments</h1>
        <div class=total_thread data-identifier="post-{{.ArticleInfo.Slug}}" data-url="https://{{$.Domain}}/post/{{.ArticleInfo.Slug}}.html"></div>
    </section>
    {{end}}

    <script>
        $(document).ready(function () {
                $("#home").addClass("active")
            }
        );
    </script>
</div>