<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="/static/img/favor.png">
    <title>{{.Title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap-3.3.7/bootstrap.css" rel="stylesheet">
    <!--<link href="/static/css/bootstrap-3.3.7/bootstrap-theme.css" rel="stylesheet">-->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/css/assets/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/visit/home.css" rel="stylesheet">

    <!--js-->
    <script src="/static/js/jquery/jquery-2.1.4.min.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <!--<script src="/static/js/jquery-3.2.1.min.js"></script>-->
    <script src="/static/js/bootstrap-3.3.7/bootstrap.min.js"></script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/static/js/assets/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/js/assets/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/static/js/assets/html5shiv-3.7.3.js"></script>
    <script src="/static/js/assets/respond-1.4.2.js"></script>
    <![endif]-->
    <!--<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
</head>

<body>

<div class="container-fluid">
    <div class="row">
        <!--左侧导航栏-->
        <header id="header" class="col-sm-3 col-md-2 sidebar">
            <!--头像、标题、签名-->
            <div class="row">
                <a href="#myModal" data-toggle="modal">
                    <div class="thumbnail col-md-12 col-xs-12">
                        <img src="{{.HTMLVisitData.Icon}}">
                        <div class="caption">
                            <h4>{{.HTMLVisitData.Name}}</h4>
                            <span class="subtitle text-muted">{{.HTMLVisitData.Description}}</span>
                        </div>
                    </div>
                </a>
            </div>

            <!--分类导航栏-->
            <ul class="nav nav-sidebar text-center col-xs-offset-5">
                <li class="" id="home">
                    <a href="/">首页</a>
                </li>
                <li class="" id="topics" >
                    <a href="/topics.html">专题</a>
                </li>
                <li class="" id="archives" >
                    <a href="/archives.html">归档</a>
                </li>
                <li class="" id="roll">
                    <a href="/roll.html">友链</a>
                </li>
                <li class="" id="about">
                    <a href="/about.html">关于</a>
                </li>
                <li class="" id="search">
                    <a href="/search.html">搜索🔍</a>
                </li>
            </ul>

            <!--<hr>-->
            <!--社交标题栏-->
            <!--todo: xxxxx-->
        </header>

        <main class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <!--主要内容-->
            <div class="container-fluid" style="padding-right: 5%">
                {{.LayoutContent}}
            </div>

            <!--角标-->
            <hr>
            <footer id="footer" class="text-center">
                &copy; xxxx-inc 2017 - {{.Title}} -
                <a target="_blank" rel="nofollow designer" class="external beian" href="http://www.miitbeian.gov.cn/">{{.BeiAn}}</a>
                <br />Powered by
                <a target="_blank" href="#">Meili-inc Sec</a>
            </footer>
        </main>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!--框头-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        作者信息
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="thumbnail col-md-12 col-xs-12">
                        <img src="{{.HTMLVisitData.Icon}}">
                        <div class="caption">
                            <h4>{{.HTMLVisitData.Name}}</h4>
                            <span class="subtitle text-muted">{{.HTMLVisitData.Description}}</span>
                        </div>
                        {{if .HTMLVisitData.Email}}
                        <div class="caption">
                            <label for="email">邮箱</label>
                            <div id="email" class="subtitle text-muted">{{.HTMLVisitData.Email}}</div>
                        </div>
                        {{end}}
                        {{if .HTMLVisitData.WebSite}}
                        <div class="caption">
                            <label for="webSite">站点</label>
                            <div id="webSite" class="subtitle text-muted">
                                <a target="_blank" href="{{.HTMLVisitData.WebSite}}">{{.HTMLVisitData.WebSite}}</a>
                            </div>
                        </div>
                        {{end}}
                        {{if .HTMLVisitData.Contact}}
                        <div class="caption">
                            <label for="contact">社交</label>
                            <div id="contact" class="subtitle text-muted">{{.HTMLVisitData.Contact}}</div>
                        </div>
                        {{end}}
                    </div>
                </div>
                <div class="modal-footer">
                    <label class="description">按下 ESC 按钮退出。</label>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--todo: xxxxx-->
<script src="/static/js/jquery/jquery-2.1.4.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
<script>window.jQuery || document.write('<script src="/static/js/jquery.min.js"><\/script>')</script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="/static/js/assets/vendor/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/static/js/assets/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
