<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
    <title>Title</title>
</head>
<body>
    <img src="..." class="img-responsive" alt="响应式图片">
    <p>
        This is the first paragraph of text.
        This is the first paragraph of text.
        This is the first paragraph of text.
        This is the first paragraph of text.
    </p>

    <hr>

    <p>
        This is the second paragraph of text.
        This is the second paragraph of text.
        This is the second paragraph of text.
        This is the second paragraph of text.
    </p>
</body>
</html>